.authen-template {
  width: 100vw;
  height: 100vh;
  background-color: skyblue;
  display: flex;
}
.authen-template_form {
  width: 30%;
  height: 100%;
  background-color: #ffff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.authen-template_img {
  width: 70%;
  height: 100%;
  background-image: url(https://img4.thuthuatphanmem.vn/uploads/2020/06/05/anh-nen-chu-de-cong-nghe_103226914.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
